web application 2021/test/main.json
[{"id":"990700b7.479548","type":"http in","z":"2a8b2196.70d05e","name":"","url":"/max","method":"post","upload":false,"swaggerDoc":"","x":80,"y":80,"wires":[["f8086cc1.b2f828"]]},{"id":"9e95d3a3.4a866","type":"file","z":"2a8b2196.70d05e","name":"","filename":"max.csv","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":360,"y":40,"wires":[[]]},{"id":"a7804df7.bf2b6","type":"template","z":"2a8b2196.70d05e","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<link rel=\"stylesheet\" type=\"text/css\" href=\"./max.css\"/>\n{{#payload}}\nmax( {{x}}, {{y}}, {{z}} ) = <span>{{max}}</span>\n{{/payload}}","output":"str","x":400,"y":100,"wires":[["639e5c5.89bf324"]]},{"id":"639e5c5.89bf324","type":"http response","z":"2a8b2196.70d05e","name":"","statusCode":"","headers":{},"x":550,"y":100,"wires":[]},{"id":"8c5813ed.3b7fb","type":"csv","z":"2a8b2196.70d05e","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"x,y,z,max","skip":"0","strings":true,"include_empty_strings":false,"include_null_values":false,"x":230,"y":40,"wires":[["9e95d3a3.4a866"]]},{"id":"f8086cc1.b2f828","type":"function","z":"2a8b2196.70d05e","name":"","func":"const a = [];\na[0] = parseInt(msg.req.body.x);\na[1] = parseInt(msg.req.body.y);\na[2] = parseInt(msg.req.body.z);\nvar max=a[0];\nfor(var i=1; i<a.length; i++) {\n    if(max < a[i]) {\n        max = a[i]\n    }\n}\nmsg.payload.max = max;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":100,"wires":[["a7804df7.bf2b6","8c5813ed.3b7fb"]]},{"id":"84680e12.b32528","type":"http in","z":"2a8b2196.70d05e","name":"","url":"/max.css","method":"get","upload":false,"swaggerDoc":"","x":90,"y":200,"wires":[["5b9f5b2e.262a9c"]]},{"id":"d99d475d.5eb628","type":"http response","z":"2a8b2196.70d05e","name":"","statusCode":"","headers":{"content-type":"text/css"},"x":370,"y":200,"wires":[]},{"id":"5b9f5b2e.262a9c","type":"template","z":"2a8b2196.70d05e","name":"","field":"payload","fieldType":"msg","format":"css","syntax":"mustache","template":"span {\n    color: red;\n}","output":"str","x":240,"y":200,"wires":[["d99d475d.5eb628"]]},{"id":"601d2e09.66d65","type":"http in","z":"2a8b2196.70d05e","name":"","url":"/max","method":"get","upload":false,"swaggerDoc":"","x":90,"y":160,"wires":[["995c1d5e.cdf45"]]},{"id":"995c1d5e.cdf45","type":"template","z":"2a8b2196.70d05e","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<form action=\"./max\" method=\"POST\">\n    <input type=\"text\" name=\"x\">\n    <input type=\"text\" name=\"y\">\n    <input type=\"text\" name=\"z\">\n    <input type=\"submit\" value=\"max\">\n</form>","output":"str","x":270,"y":160,"wires":[["639e5c5.89bf324"]]}]