web application 2021/2110370801-09/hello_flow.json
[{"id":"b6266246.26c1a","type":"tab","label":"フロー 1","disabled":false,"info":""},{"id":"1b81c515.5e653b","type":"http in","z":"b6266246.26c1a","name":"","url":"/hello","method":"get","upload":false,"swaggerDoc":"","x":360,"y":260,"wires":[["a3370fc6.93e54"]]},{"id":"591c85a3.a866cc","type":"http response","z":"b6266246.26c1a","name":"","statusCode":"","headers":{"content-type":"text/html"},"x":840,"y":260,"wires":[]},{"id":"a3370fc6.93e54","type":"template","z":"b6266246.26c1a","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Syntax Highlight: HTML\nTemplate: <h1>Hello</h1><p>world!</p>","output":"str","x":580,"y":260,"wires":[["591c85a3.a866cc"]]}]