web application 2021/2110370801-12/user_persistene_flow.json
[
    {
      "id": "2a8b2196.70d05e",
      "type": "tab",
      "label": "Flow 5",
      "disabled": false,
      "info": ""
    },
    {
      "id": "990700b7.479548",
      "type": "http in",
      "z": "2a8b2196.70d05e",
      "name": "",
      "url": "/users",
      "method": "post",
      "upload": false,
      "swaggerDoc": "",
      "x": 90,
      "y": 80,
      "wires": [
        [
          "8c5813ed.3b7fb",
          "a7804df7.bf2b6"
        ]
      ]
    },
    {
      "id": "9e95d3a3.4a866",
      "type": "file",
      "z": "2a8b2196.70d05e",
      "name": "",
      "filename": "users.csv",
      "appendNewline": true,
      "createDir": false,
      "overwriteFile": "false",
      "encoding": "none",
      "x": 360,
      "y": 40,
      "wires": [
        []
      ]
    },
    {
      "id": "ea61a632.6c33a8",
      "type": "http in",
      "z": "2a8b2196.70d05e",
      "name": "",
      "url": "/users",
      "method": "get",
      "upload": false,
      "swaggerDoc": "",
      "x": 80,
      "y": 180,
      "wires": [
        [
          "4657ab56.73bf8c"
        ]
      ]
    },
    {
      "id": "4657ab56.73bf8c",
      "type": "file in",
      "z": "2a8b2196.70d05e",
      "name": "",
      "filename": "users.csv",
      "format": "utf8",
      "chunk": false,
      "sendError": false,
      "encoding": "none",
      "x": 160,
      "y": 140,
      "wires": [
        [
          "68733591.260de4"
        ]
      ]
    },
    {
      "id": "a7804df7.bf2b6",
      "type": "template",
      "z": "2a8b2196.70d05e",
      "name": "",
      "field": "payload",
      "fieldType": "msg",
      "format": "handlebars",
      "syntax": "mustache",
      "template": "Post User\n{{#payload}}\n* {{name}} -> {{point}} points\n{{/payload}}\n",
      "output": "str",
      "x": 340,
      "y": 80,
      "wires": [
        [
          "639e5c5.89bf324"
        ]
      ]
    },
    {
      "id": "639e5c5.89bf324",
      "type": "http response",
      "z": "2a8b2196.70d05e",
      "name": "",
      "statusCode": "",
      "headers": {},
      "x": 470,
      "y": 80,
      "wires": []
    },
    {
      "id": "8c5813ed.3b7fb",
      "type": "csv",
      "z": "2a8b2196.70d05e",
      "name": "",
      "sep": ",",
      "hdrin": "",
      "hdrout": "none",
      "multi": "one",
      "ret": "\\n",
      "temp": "name,point",
      "skip": "0",
      "strings": true,
      "include_empty_strings": false,
      "include_null_values": false,
      "x": 230,
      "y": 40,
      "wires": [
        [
          "9e95d3a3.4a866"
        ]
      ]
    },
    {
      "id": "68733591.260de4",
      "type": "csv",
      "z": "2a8b2196.70d05e",
      "name": "",
      "sep": ",",
      "hdrin": "",
      "hdrout": "none",
      "multi": "mult",
      "ret": "\\n",
      "temp": "name,point",
      "skip": "0",
      "strings": true,
      "include_empty_strings": false,
      "include_null_values": false,
      "x": 290,
      "y": 140,
      "wires": [
        [
          "20012c8.c767454"
        ]
      ]
    },
    {
      "id": "20012c8.c767454",
      "type": "template",
      "z": "2a8b2196.70d05e",
      "name": "",
      "field": "payload",
      "fieldType": "msg",
      "format": "handlebars",
      "syntax": "mustache",
      "template": "All Users\n{{#payload}}\n* {{name}} -> {{point}} points\n{{/payload}}",
      "output": "str",
      "x": 340,
      "y": 180,
      "wires": [
        [
          "612abb1c.14c6bc"
        ]
      ]
    },
    {
      "id": "612abb1c.14c6bc",
      "type": "http response",
      "z": "2a8b2196.70d05e",
      "name": "",
      "statusCode": "",
      "headers": {},
      "x": 470,
      "y": 180,
      "wires": []
    }
  ]
  